@import url(fontawesome-all.min.css);
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
html {
	overflow: hidden;
}
body {
  overflow: hidden;
  font-size: 100%;
}
nav {
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  z-index: 100;
  height: 100%;
  left: 0;
  width: 15%;
  font-weight: 300;
  font-size: 1rem;
}
nav em {
	font-style: normal;
	font-size: 13px;
	text-transform: uppercase;
	display: block;
	margin-top: 15px;
	color: #fff;
}
nav ul {
	position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-align: left;
	list-style-type: none;
	height: 70%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
	-ms-flex-pack: distribute;
  justify-content: space-around;
}
nav ul li {
	text-align: center;
	margin: 5px 0px;
}
nav a {
	text-decoration: none!important;
	display: inline-block;
	width: 140px;
	padding: 15px 0px;
	position: relative;
	z-index: 0;
	transition: all .5s;
}
nav a.active {
  background-color: rgba(0,0,0,0.8);
}
.trr{
  width: 35px;
  height: 35px;
    opacity: .8;
  }
  .enn{
    width: 30px;
    height: 30px;
    opacity: .8;
  }
  .trr:hover{
    width: 45px;
    height: 45px;
  }
  .enn:hover{
    width: 40px;
    height: 40px;
  }
  .trr:active{
    width: 50px;
    height: 50px;
  }
  .enn:active{
    width: 45px;
    height: 45px;
  }
.slides {
  width: 500vw;
  height: 100vh;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}
.slides .slide {
  height: 100vh;
  width: 100vw;
  float: left;
  text-align: center;
  background-size: cover;
}
.slides .slide .content {
  overflow-y: scroll;
  position: relative;
  width: 80%;
  height: 80%;
  left: 200px;
  top: 100px;
}
.content::-webkit-scrollbar {
  display: none!important;
  opacity: 0!important;
  visibility: hidden!important;
}
.slides .slide:nth-child(2) {
  background-image: url(../images/time.jpg);
  background-position: fixed;
}

.slides .slide:nth-child(3) {
  /*background-image: url(../images/techno2.jpg); */
  background:radial-gradient(#333,#000);

overflow:hidden;
  background-position: fixed;
}
.leaf{
    position:absolute ;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.leaf div{
position:absolute ;
display:block ;
}
.leaf div:nth-child(1){
    left:20%; 
    animation:fall 15s linear infinite ;
    animation-delay:-2s;

}
.leaf div:nth-child(2){
    left:70%; 
    animation:fall 15s linear infinite ;
    animation-delay:-4s;
}
.leaf div:nth-child(3){
    left:10%; 
    animation:fall 20s linear infinite ;
    animation-delay:-7s;
    
}
.leaf div:nth-child(4){
    left:50%; 
   animation:fall 18s linear infinite ; 
   animation-delay:-5s;
}
.leaf div:nth-child(5){
    left:85%; 
    animation:fall 14s linear infinite ;
    animation-delay:-5s;
}
.leaf div:nth-child(6){
    left:15%; 
    animation:fall 16s linear infinite ;
    animation-delay:-10s;
}
.leaf div:nth-child(7){
    left:90%; 
    animation:fall 15s linear infinite ;
    animation-delay:-4s;
}

@keyframes fall{
    0%{
        opacity:1;
        top:-10%;
        transform:translateX (20px) rotate(0deg);
    }
    20%{
        opacity:0.8;
        transform:translateX (-20px) rotate(45deg);
    }
    40%{

        transform:translateX (-20px) rotate(90deg);
    }
    60%{
        
       transform:translateX (-20px) rotate(135deg); 
    }
    80%{
    
        transform:translateX (-20px) rotate(180deg);
    }
    100%{
        
        top:110%;
        transform:translateX (-20px) rotate(225deg);
    }
    }
.leaf1{
    transform: rotateX(180deg);
}
.slides .slide:nth-child(4) {
  background-image: url(../images/socialMedia.jpg);
  background-position: fixed;
}
#image-slider {
  margin-bottom: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../images/techno.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-me-text {
  padding: 50px;
  height: 500px;
	background-color: #ffffff;
	box-shadow: -10px 40px 34px -25px rgba(0, 0, 0, 0);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 10px #4c9cef;
    border-left-color: teal;
    border-right-color:teal;
    margin: 100px 100px 100px 300px;
    text-align: left;
}
.about-me-text img{
  border:  transparent;
  height: 150px;
  border-radius: 100px;
  padding: 10px;
}
.my-skill strong,
.my-skill span {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 5px;
  display: inline-block;
}
.my-skill .progress {
  background: #dedede;
  border-radius: 10px;
  box-shadow: none;
  height: 12px;
  margin-bottom: 30px;
}
.my-skill .progress-bar-primary {
  background: #4c9cef;
}
.modal-body .btn {
	  background-color: #f7639a;
	  margin-top: -30px;
    position: relative;
    margin-right: -35px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: #ffffff;
    line-height: 39px;
    font-size: 20px;
 	  outline: 0;
	  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
    transition: .3s ease-in;
}
.modal{
  transition:  .3s ease-in;
}
.modal-body .btn:hover {
	box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
	outline: 0;
}
.divider {
	position: relative;
	width: 126px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
.pattern-bg {
	background: url(../images/pattern-bg.png);
  background-repeat: repeat;
}
.timeline {
  padding-left: 0px;
  list-style: none;
  position: relative;
  width: 50%;
  height: 80%;
  left: 200px;
  top: 100px;
}
.timeline:before {
  background-color: black;
  content: '';
  margin-left: -1px;
  position: absolute;
  bottom: -60em;
  left: 2em;
  width: 2px;
  height:2000px;
}
.timeline-event {
  position: inherit;
}
.timeline-event:hover .timeline-event-icon {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #425BB5;
}

.timeline-event:hover .timeline-event-thumbnail {
  box-shadow: inset 40em 0 0 0 #425BB5;
}
.timeline-event-copy {
  padding: 1em;
  position: inherit;
  top: -6em;
  left: 4em;
  width: 100%;
}
.timeline-event-copy h3 {
  font-size: 1.5em;
  color: white;
}

.timeline-event-copy h4 {
  font-size: 1em;
  margin-bottom: 1em;
  color: white;
}
.timeline-event-icon {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #425BB5;
  outline: 5px solid #f3f3f3;
  display: block;
  margin: 0.5em 0.5em 0.5em -0.5em;
  position: absolute;
  top: -5em;
  left: 2em;
  width: 1em;
  height: 1em;
}
.timeline-event-thumbnail {
  -moz-transition: box-shadow 0.5s ease-in 0.1s;
  -o-transition: box-shadow 0.5s ease-in 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in;
  -webkit-transition-delay: 0.1s;
  -webkit-transition: box-shadow 0.5s ease-in 0.1s;
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: black;
  box-shadow: inset 0 0 0 0em #425BB5;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}
.content-timeline{
  padding-left: 50px;
  overflow-y: scroll;
  position: relative;
  width: 100%;
  height: 100%;
  left: 50px;
  top: 100px;
}
.content-timeline::-webkit-scrollbar {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.third-content {
	top: 120%!important;
  transform: translateY(-120%);
  padding-left:20px;
}
.featured-item {
  transition: all 0.5s;
  text-align: left;
}
.featured-item img {
  width: 100%;
  border: 5px black solid;
  border-radius: 5px;
  box-shadow: black 5px;
}
.featured-item h4 {
  margin-top: 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  color: #1e1e1e;
  transition: all 0.5s;
}
.owl-dots {
  text-align: center;
  margin-top: 10px;
}
.owl-dots .owl-dot {
  outline: none;
  display: inline-block;
}
.owl-dots .active span {
  background-color: #faf5b2!important;
}
.owl-dots .owl-dot span {
  background-color: #fff;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0px 5px;
  outline: none;
  cursor: pointer;
}
.folio-title {
	color: #FFFFFF;
	font-size: 1.3rem;
  padding: 0 1rem;
  margin-bottom: 0;
  margin-top: 0.2em;
}
.folio-types {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-family: "poppins-regular", sans-serif;
	font-size: 1rem;
	letter-spacing: .1rem;
	color: rgba(255, 255, 255, 1);
}
.featured-item:hover img{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
  transform: scale(1.05);
  opacity:0.5;
  background-color: rgba(0, 0, 0, 0);
}
.snip1321 {
  overflow: hidden;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
.snip1321 figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
.snip1321 h4 {
    margin-top: 15px;
  margin-bottom: 5px;
  color: #232323;
}
.snip1321 span {
    font-size: 14px;
    font-style: italic;
    display: block;
    color: #7a7a7a;
}
.snip1321 i {
  position: relative!important;
  font-size: 18px;
  background-color: #2279BD;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  color: #fff;
}
.snip1321:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
.snip1321:hover figcaption,
.snip1321.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.snip1321:hover:after,
.snip1321.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}
.fourth-content {
	top: 140%!important;
  height: 100%;
	transform: translateY(-140%);
}
#contact {
  margin: 0 auto;
  max-width: 750px;
  margin-bottom: 100px;
  padding: 40px;
  background-color: rgba(0,0,0,0.9);
}
  .icon > .label {
    display: none;
  }
  .icon.brands:before {
    font-family: 'Font Awesome 5 Brands';
  }
  .icon.alt:before {
    background-color: #ffffff;
    border-radius: 100%;
    color: #242943;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    text-align: center;
    width: 2em;
  }
a.icon.alt:before {
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
a.icon.alt:hover:before {
  background-color: #6fc3df;
}
a.icon.alt:active:before {
  background-color: #37a6cb;
}
.contact-method {
  margin: 0 0 2em 0;
  position: relative;
}
  .contact-method h3 {
    margin: 0 0 1em 0;
    color: #dedede;
  }
@media (max-width: 1025px) {
  .timeline:before {
    bottom: -40em;
  }
}
@media (max-width: 991px) {
  .content-timeline{
  width: 500px;
  height: 95%;
  left: -180px;
  top: 100px;
  }
 .about-me-text{
   margin-left: auto;
   margin-right: 20px;
   margin-top: 100px;
   padding: 5px 10px;
 }
 .about-me-text p{
   font-size: 12px;
}
 .folio-item-cell{
  visibility: hidden;
  display: none;
 }
  .slides .slide .content {
	width: 100%;
	height: 90%;
	left: 0;
  }
  .second-content {
	top: 250%!important;
	transform: translateY(-250%);
  }
  .timeline:before {
    bottom: -52em;
  height:1500px;
  }
  
.timeline-event-copy h3 {
  font-size: 1.3em;
  color: white;
}

.timeline-event-copy h4 {
  font-size: .8em;
  margin-bottom: .8em;
  color: white;
}
  .third-content {
	top: 140%!important;
	transform: translateY(-140%);
  }
  .fourth-content {
	top: 220%!important;
	transform: translateY(-220%);
  }
  nav {
    top: 0vh;
    height: 100px;
    width: 100vw;
  }
  nav ul {
    flex-direction: row;
  }
  nav ul li {
    display: inline;
    margin: 0px;
  }
  nav ul li img {
	width: 35%;
  }
  nav ul li em {
    display: none;
  }
  nav a {
  	text-align: center;
	  width: 60px;
	  height: 60px;
    line-height: 30px;
    display: inline-block;
  }
  .trr{
  width: 25px;
  height: 25px;
  }
  .enn{
    width: 20px;
    height: 20px;
  }
  .trr:active{
    width: 27px;
    height: 27px;
  }
  .enn:active{
    width: 22px;
    height: 22px;
  }
  .trr:hover{
    width: 26px;
    height: 26px;
  }
  .enn:hover{
    width: 21px;
    height: 21px;
  }
  .second-slide {
    top: 140px;
  }
  .slide-caption h2 {
  	font-size: 48px;
  }
  .slide-caption {
    padding-left: 30px;
  }
  .featured-item {
    padding: 30px 15px;
  }
  .owl-dots {
    margin-top: 10px;
    padding-bottom: 30px;
  }
  .third-slide {
    text-align: center;
    margin: 0px;
  }
  .fourth-slide {
    margin-left: 0;
    top: 0;
    transform: translateY(0%);
    margin-top: 140px;
  }
}
